/* shared items  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
body {
  background-color: black;
}
a {
  text-decoration: none;
}
.a-black {
  color: black;
}
.a-white {
  color: white;
}
button {
  cursor: pointer;
}

/* shared items end */

/* header section  */
header {
  width: 100%;
  height: 100vh;
  border: 1px solid rgba(160, 32, 240, 0.5);
  margin-bottom: 150px;
  background-image: url("../First_Try_All_Photo/Image-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(160, 32, 240, 0.5);
}
/* nav section  */
nav {
  width: 34%;
  height: 26px;
  margin: 75px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}
nav a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
}
nav a:hover {
  opacity: 0.3;
}
/* nav section end */
/* header text section  */
.header-text {
  width: 45%;
  height: 380px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.header-text h6 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 21px;
}
.header-text h2 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}
.header-text p {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 60px;
}
.header-text button {
  width: 230px;
  height: 60px;
  border-radius: 100px;
  background: rgb(37, 218, 197);
  border: none;
  font-size: 18px;
  font-weight: 500;
}
.header-text button:hover {
  background: rgb(84, 247, 228);
}
/* header text section end */
/* header section end */

/* main section  */
/* content section  */
.content {
  height: 540px;
  width: 100%;
  margin-bottom: 150px;
  background-image: url("../First_Try_All_Photo/Image.png");
  background-color: rgba(0, 0, 255, 0.5);
  margin-bottom: 150px;
}
.content-text {
  width: 60%;
  height: 540px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.content-text h6 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 29px;
}
.content-text h1 {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 38px;
}
.content-text p {
  font-size: 18px;
  font-weight: 700;
  /* margin-bottom: 126px; */
}
/* content section end */

/* feature section  */
.feature {
  height: 736px;
  width: 100%;
  background-image: url("../First_Try_All_Photo/Rectangle.png");
  background-position: center;
  background-size: cover;
  background-color: rgba(160, 32, 240, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-bottom: 150px;
}
.feature-body {
  width: 100%;
  height: 536px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
}
.feature-photo {
  width: 35%;
  height: 100%;
}
.feature-text {
  width: 65%;
  height: 100%;
}
.first-text-section {
  margin-right: 285px;
}
.first-text-section h1 {
  font-size: 42px;
  font-weight: 700;
  margin-top: 58px;
  margin-bottom: 20px;
}
.first-text-section p {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 130px;
}
.second-text-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 314px;
  gap: 29px;
}
.second-text-section h6 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 17px;
  text-transform: uppercase;
}
.second-text-section p {
  font-size: 16px;
  font-weight: 500;
}
/* feature section end */

/* form section  */
.form {
  width: 100%;
  height: 750px;
  border: 1px solid rgba(0, 0, 255, 0.5);
  background-image: url("../First_Try_All_Photo/Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 255, 0.5);
  margin-bottom: 150px;
}
.form-content {
  width: 70%;
  height: 550px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
}
/* form text section */
.form-text-section {
  color: white;
}
.form-text-section h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 32px;
}
.form-text-section p {
  font-size: 16px;
  font-weight: 500;
}
/* form text section end */

/* form content section  */
.form-section {
  background-color: #fff;
  padding: 100px 70px;
  border-radius: 10px;
}
.form-section h4 {
  font-size: 20px;
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 20px;
  margin-left: 2px;
}
.form-section input {
  padding: 12px 24px;
  margin-bottom: 15px;
  border: 1px solid grey;
  border-radius: 100px;
  color: grey;
}
.form-section button {
  border-radius: 100px;
  border: none;
  width: 228px;
  height: 50px;
  background: rgb(37, 218, 197);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}
.form-section span {
  color: grey;
  font-size: 16px;
  text-align: center;
  margin: 0 0 10px 100px;
}
/* form content section end */

/* form section end */

/* testimonial section  */
.testimonial {
  height: 100vh;
  width: 100%;
  background: rgb(30, 14, 98);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.testimonial-content {
  height: 80%;
  width: 80%;
  margin: 0 auto;
  color: white;
}
.testimonial-content h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 45px;
}
.clients-review-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.client-review {
  width: 470px;
  height: 200px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 35px 20px;
  display: flex;
  gap: 30px;
}
.client-review img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
}
.client-review p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 14px;
}
.client-review span {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.3;
}
/* testimonial section end */

/* call to action section  */
.call-action-section {
  width: 100%;
  height: 100vh;
  background-image: url("../First_Try_All_Photo/Background-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 150px;
  color: white;
}
.call-action-section h1 {
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 20px;
}
.call-action-section p {
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 20px;
}
.call-action-section button {
  width: 210px;
  height: 60px;
  border-radius: 100px;
  background: rgb(37, 218, 197);
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.call-action-section button:hover {
  background: rgb(84, 247, 228);
}
/* call to action section end */

/* showcase section  */
.showcase {
  width: 100%;
  height: 110vh;
  background: #1e0e62;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.showcase-content {
  width: 60%;
  height: 90%;
}
.showcase-text-button-section {
  display: flex;
  justify-content: space-between;
}
.showcase-text-button-section h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 40px;
}
.showcase-text-button-section button {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  width: 150px;
  height: 50px;
  background: #1e0e62;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.showcase-text-button-section button:hover {
  background: #352385;
}
.showcase-images-texts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
.showcase-image-text {
  width: 350px;
  height: 260px;
}
.showcase-image-text img {
  width: 350px;
  height: 200px;
}
.showcase-image-text span {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.showcase-image-text h6 {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 10px;
}
/* showcase section end */


/* main section end */
